<div class="container">
  <h1>Modifier la photo</h1>
</div>
<br>

<div class="container">
  <%= form_with(model: @picture, local: true) do |form| %>
  <% if @picture.errors.any? %>
  <div id="error_explanation">
    <% @picture.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
  </div>
  <% end %>
  <form>
    <div class="form-group">
      <label for="form-image">Photo</label>
      <%= form.file_field :image, id: "form-image", style:"display:none;" %>
      <label for="form-image", class="form-control">Changer la photo</label>
      <br>
      <label for="form-caption">Titre</label>
      <%= form.text_field :caption, class: "form-control", id: "form-caption" %>
      <br>
      <label for="form-place">Attribuer la photo à l'étiquette : </label>
      <%= form.collection_select(:place_id, Place.all, :id, :head, {:include_blank=>'Choisir'}) %>
      <br><br>
      <div class="actions">
        <%= form.submit "Valider", class: "btn btn-primary btn-xl text-uppercase" %>
      </div>
    </div>
  </form>
  <% end %>
</div>

