<% if admin_signed_in? %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="modal-body">
        <%=image_tag @picture.image, :class => "img-fluid d-block mx-auto", :alt => @picture.caption%>
        <h2 class="text-uppercase text-center"><%= @picture.caption %></h2>
        <%= link_to 'Modifier', edit_picture_path(@picture) %> - <%=link_to "Nouvelle photo", new_picture_path%>
      </div>
    </div>
  </div>
</div>
<% else redirect path %>
<% end %>
