<p id="notice"><%= notice %></p>

<p>
  <strong>Main picture:</strong>
  <%= @place.main_picture %>
</p>

<p>
  <strong>Head:</strong>
  <%= @place.head %>
</p>

<p>
  <strong>Subhead:</strong>
  <%= @place.subhead %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
